---
import { LuMoveRight } from "react-icons/lu";

import { BrisbaneDateTime } from "@/components/brisbane-datetime";
import GitHubContributions from "@/components/contributions-graph";
import Layout from "@/layouts/layout.astro";
import Lanyard from "@/components/lanyard";
import LinkWithIcon from "@/components/link-with-icon";
import { ToggleTheme } from "@/components/toggle-theme";
import {
  createPageMetadata,
  formatPageTitle,
} from "@/lib/metadata";
import { getPosts, getProjects } from "@/lib/directus-content";

const [posts, projects] = await Promise.all([getPosts(), getProjects()]);
const sortedPosts = posts.toSorted(
  (a, b) =>
    new Date(b.date_created).getTime() - new Date(a.date_created).getTime()
);
const currentYear = new Date().getFullYear();

const pageMeta = createPageMetadata({
  description:
    "Self-taught Web Developer & Generalist. Based in Brisbane, Australia.",
  path: "/",
  title: "Home",
});

const fullTitle = formatPageTitle("Home");
---

<Layout
  canonicalUrl={pageMeta.alternates?.canonical}
  fullTitle={fullTitle}
  meta={pageMeta}
  rootDefaults
>
  <div class="mx-auto flex max-w-lg flex-col gap-4 px-6 pt-4 pb-20">
    <div class="space-y-20">
      <div class="space-y-4">
        <div class="space-y-2 text-sm">
          <p class="font-redaction text-xl text-black dark:text-white">
            Zacchary Puckeridge
          </p>
          <div>
            <p>Self-taught Web Developer & Generalist</p>
            <p>Based in Brisbane, Australia</p>
          </div>
        </div>

        <div class="flex flex-col gap-4 md:flex-row md:justify-between">
          <div class="flex flex-row gap-4 text-xs text-muted-foreground">
            <LinkWithIcon href="https://x.com/zpuckeridge/">X</LinkWithIcon>
            <LinkWithIcon href="https://www.facebook.com/zpuckeridge/">
              Facebook
            </LinkWithIcon>
            <LinkWithIcon href="https://www.instagram.com/zpuckeridge/">
              Instagram
            </LinkWithIcon>
            <LinkWithIcon href="https://www.linkedin.com/in/zpuckeridge/">
              LinkedIn
            </LinkWithIcon>
            <LinkWithIcon href="https://github.com/zpuckeridge">
              GitHub
            </LinkWithIcon>
          </div>

          <div>
            <p class="text-nowrap text-xs text-muted-foreground">
              &copy; {currentYear} Zacchary Puckeridge
            </p>
          </div>
        </div>
      </div>

      <div class="space-y-10">
        <div class="flex flex-row gap-4">
          <div class="w-20">
            <p class="text-xs text-muted-foreground">Now</p>
          </div>

          <div class="w-full space-y-2">
            <p class="text-sm">
              IT Operations Lead for{" "}
              <LinkWithIcon href="https://www.starcompass.com.au">
                Star Compass
              </LinkWithIcon>
              , a disability support service and{" "}
              <LinkWithIcon href="https://www.haddoninstitute.org">
                Haddon Institute
              </LinkWithIcon>
              , a distinctly Reformed seminary.
            </p>
            <p class="text-sm">
              I also run a web design studio known as{" "}
              <LinkWithIcon href="https://obambulo.studio">
                obambulo studio
              </LinkWithIcon>
              . I have limited availability, but I am open to hearing about your
              project!
            </p>
          </div>
        </div>

        <div class="flex flex-row gap-4">
          <div class="w-20">
            <p class="text-xs text-muted-foreground">Prev</p>
          </div>

          <div class="w-full space-y-2">
            <p class="text-sm">
              Previously, I was working for{" "}
              <LinkWithIcon href="https://www.rsp.com.au">
                Rising Sun Pictures
              </LinkWithIcon>{" "}
              (2022 <LuMoveRight className="inline-flex h-4 w-4" /> 2024) as an
              IT Administrator to deploy and maintain the remote Brisbane office
              infrastructure.
            </p>

            <p class="text-sm">
              Prior to that, I worked for{" "}
              <LinkWithIcon href="https://www.pixelzoo.com.au">
                Pixel Zoo
              </LinkWithIcon>{" "}
              (2021 <LuMoveRight className="inline-flex h-4 w-4" /> 2022) as a
              Systems Administrator to provide internal and remote support for
              ~200+ employees. Deployed various networking and hardware upgrades
              across the studio and implemented new file storage infrastructure.
            </p>

            <p class="text-xs text-muted-foreground">
              You can find my full employment history{" "}
              <a
                class="group inline-flex underline decoration-dotted underline-offset-2 transition ease-in-out hover:decoration-solid hover:underline-offset-4"
                href="/cv"
              >
                here
              </a>
              .
            </p>
          </div>
        </div>

        <hr class="border-dotted border-muted-foreground" />

        <div class="space-y-2">
          <div class="flex w-full flex-row gap-4">
            <div class="w-20">
              <p class="text-xs text-muted-foreground">Timeline</p>
            </div>

            <div class="relative flex h-30 w-full flex-col gap-1 overflow-y-hidden text-sm">
              {sortedPosts.slice(0, 6).map((post) => (
                <a
                  aria-label={post.title}
                  class="flex justify-between gap-4 transition hover:text-blue-400 dark:hover:text-blue-600"
                  href={`/timeline/${post.slug}`}
                >
                  <p class="line-clamp-1">{post.title}</p>
                  <p class="text-muted-foreground">
                    {new Date(post.date_created).toLocaleDateString(undefined, {
                      day: "2-digit",
                      month: "2-digit",
                      year: "numeric",
                    })}
                  </p>
                </a>
              ))}
              <div class="pointer-events-none absolute inset-x-0 bottom-0 z-40 h-20 bg-linear-to-t from-white dark:from-background" />
            </div>
          </div>
          <div class="flex justify-end">
            <a
              class="w-fit text-xs text-muted-foreground transition hover:text-blue-400 dark:hover:text-blue-600"
              href="/timeline"
            >
              See all {sortedPosts.length}
            </a>
          </div>
        </div>

        <div class="space-y-2">
          <div class="flex w-full flex-row gap-4">
            <div class="w-20">
              <p class="text-xs text-muted-foreground">Projects</p>
            </div>
            <div class="relative flex h-30 w-full flex-col gap-1 overflow-y-hidden text-sm">
              {projects
                .filter((project) => project.status !== "work_in_progress")
                .slice(0, 6)
                .map((project) => (
                  <div class="flex justify-between gap-4">
                    {project.link ? (
                      <a
                        class="line-clamp-1 transition hover:text-blue-400 dark:hover:text-blue-600"
                        href={project.link}
                        rel="noopener noreferrer"
                        target="_blank"
                      >
                        {project.name}
                      </a>
                    ) : (
                      <span class="line-clamp-1">{project.name}</span>
                    )}
                    <span class="text-muted-foreground">
                      {project.year_completed}
                    </span>
                  </div>
                ))}
              <div class="pointer-events-none absolute inset-x-0 bottom-0 z-40 h-10 bg-gradient-to-t from-white dark:from-background" />
            </div>
          </div>
          <div class="flex justify-end">
            <a
              class="w-fit text-xs text-muted-foreground transition hover:text-blue-400 dark:hover:text-blue-600"
              href="/projects"
            >
              See all {projects.length}
            </a>
          </div>
        </div>

        <GitHubContributions client:visible username="zpuckeridge" />

        <hr class="border-dotted border-muted-foreground" />

        <div class="space-y-2">
          <div class="flex justify-between">
            <BrisbaneDateTime client:visible />
            <Lanyard client:visible />
          </div>
          <p class="max-w-xs text-xs text-muted-foreground">
            Waging war on weak culture, building digital strongholds, sharpening
            minds, and advancing the Kingdom of God.
          </p>

          <div class="flex justify-between gap-4">
            <div class="flex flex-row gap-2 text-xs text-muted-foreground">
              <a
                class="group inline-flex underline decoration-dotted underline-offset-2 transition ease-in-out hover:decoration-solid hover:underline-offset-4"
                href="/colophon"
              >
                Colophon
              </a>{" "}
              •{" "}
              <a
                class="group inline-flex underline decoration-dotted underline-offset-2 transition ease-in-out hover:decoration-solid hover:underline-offset-4"
                href="/imprint"
              >
                Imprint
              </a>
            </div>

            <ToggleTheme client:visible />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
